    # API server listen address
    # Defauls to: ":8080" which will listen on all avalable interfaces.
listen: :8080

    # HTTP Server middleware environment
    # Available values:
    #   dev
    #       development environment
    #   prod
    #       production environment
    #
    # Defaults to: prod
# middleware: dev

    # Private key path - used for JWT signing
    # Defaults to: /etc/useradm/rsa/private.pem
# server_priv_key_path: /etc/useradm/rsa/private.pem

    # JWT issuer ('iss' claim)
    # Defaults to: mender.useradm
# jwt_issuer: mender.useradm

    # JWT expiration in seconds ('exp' claim)
    # Defaults to: "604800" (one week)
# jwt_exp_timeout: 604800

    # Mongodb connection string
    # Defaults to: mongo-useradm
# mongo: mongo-useradm

    # Enable SSL for mongo connections
    # Defaults to: false
# mongo_ssl: false

    # SkipVerify controls whether a mongo client verifies the
    # server's certificate chain and host name.
    # If InsecureSkipVerify is true, accepts any certificate
    # presented by the server and any host name in that certificate.
    # Defaults to: false
# mongo_ssl_skipverify: false

    # Mongodb username
    # Overwrites username set in connection string.
    # Defaults to: none
# mongo_username: user

    # Mongodb password
    # Overwrites password set in connection string.
    # Defaults to: none
# mongo_password: secret
